/*STRAP*/
body{
	margin:0;
	padding:0;
}
.curtain{
	position: fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	background: #eee;
	opacity:0.4;
	display: none;
}

header.heavy{

}
.theatre{
	width:100%;
	height:500px;
}
.theatre .splash{
	width:100%;/*~page-width*/
	height:100%;
	background-repeat: no-repeat;
	margin:0 auto;
}

/*CUSTOM*/
body{
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 1500px;
}
.theatre{
	background-color: #888;
}

#cosmic-miner{
	background-image:url("splash.png");
	background-size: 150%;
	background-position: 50% 0%;
}

.some-img{
	max-width:100px;
	max-height:100px;
}